:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

.gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}
.gallery .boxs {
    justify-content: center;
}
.gallery .boxs .box {
    margin-top: 3%;
    margin-right: 4%;
    padding: 1.5%;
    background-color: #fff;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
    
}
.gallery .boxs .box .image {
        position: relative;
        overflow: hidden;
        padding: 10px 10px;
}
.gallery .boxs .box .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     background-color: #ffffff1f;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
}
.gallery .boxs .box .image:hover::before{
    animation: flashing 0.7s;
}
.gallery .boxs .box img {
    max-width: 100%;
    transition: var(--main-transition);
}
.gallery .boxs .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
}

@keyframes flashing {
    0%,
    40% {
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
@media(max-width: 425px) {
    .gallery .boxs .box .image {
        padding: 10px 10px;
}
}